---
# BlueStl clang-format configuration
# Based on Google style with modifications for C++20

BasedOnStyle: Google

# Language and Standard
Language: Cpp
Standard: c++20

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
IndentPPDirectives: BeforeHash

# Line length and wrapping
ColumnLimit: 100
ReflowComments: true

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: true

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false

# Breaking and wrapping
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: false

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true

# Constructor and inheritance
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # C++ standard library headers
  - Regex: '^<[a-z_]+>$'
    Priority: 1
  # C standard library headers
  - Regex: '^<[a-z_]+\.h>$'
    Priority: 2
  # Other system headers
  - Regex: '^<.*>$'
    Priority: 3
  # BlueStl headers
  - Regex: '^"bluestl/.*"$'
    Priority: 4
  # Local headers
  - Regex: '^".*"$'
    Priority: 5

# Pointers and references
DerivePointerAlignment: false
PointerAlignment: Left

# Namespaces
NamespaceIndentation: None
CompactNamespaces: false

# Templates and concepts
AlwaysBreakTemplateDeclarations: Yes

# Comments
ReflowComments: true

# Penalties (fine-tuning for better formatting)
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200

# Misc
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
